@if (doesLocationAllowed$()) {
  <div class="container mt-2">
    <app-weather-widget></app-weather-widget>

    <div class="d-flex align-items-center gap-2 mt-2">
      <button mat-flat-button class="rounded" (click)="openItemCreationModal()">+</button>
      <input #searchInput class="form-control" type="search" placeholder="Пошук за назвою" (input)="searchValue$.set(searchInput.value)">
      <mat-form-field class="w-25" [subscriptSizing]="'dynamic'">
        <mat-label>Тип:</mat-label>
        <mat-select [formControl]="clothingTypeControl" multiple [disabled]="recommendationMode$()">
          <mat-option [value]="ClothingType.OuterWear">Зовнішній одяг</mat-option>
          <mat-option [value]="ClothingType.BottomWear">Нижній одяг</mat-option>
          <mat-option [value]="ClothingType.FootWear">Взуття</mat-option>
          <mat-option [value]="ClothingType.TopWear">Верхній одяг</mat-option>
          <mat-option [value]="ClothingType.HeadWear">Головні убори</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-25" [subscriptSizing]="'dynamic'">
        <mat-label>Стиль:</mat-label>
        <mat-select [formControl]="styleTypeControl" multiple>
          <mat-option [value]="StyleType.Casual">Повсякденний</mat-option>
          <mat-option [value]="StyleType.Sport">Спортивний</mat-option>
          <mat-option [value]="StyleType.Home">Домашній</mat-option>
          <mat-option [value]="StyleType.Official">Офіційний</mat-option>
          <mat-option [value]="StyleType.Other">Інший</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle
        color="primary"
        [checked]="recommendationMode$()"
        (change)="recommendationMode$.set($event.checked)">
        Рекомендований гардероб
      </mat-slide-toggle>
    </div>

    @if (recommendationMode$()) {
      @for (category of recommendedClothesGroupedByType$() | keyvalue; track category; let last = $last; let first = $first) {
        <div class="my-2 gap-2 recommendations-catalogue" [class.border-end]="!last">
          <h5 class="border-bottom pb-2">{{ clothTypeLabel[category.key] }}</h5>

          <div class="d-flex gap-2">
            @for (item of category.value; track item.clothingItem.id) {
              <app-wardrobe-item [percentage]="item.percentage" [item]="item.clothingItem" [suppressActions]="true"></app-wardrobe-item>
            }
          </div>
        </div>
      } @empty {
        <div class="my-2">
          Ваш гардероб на даний момент пустий.
        </div>
      }
    } @else {
      <div class="my-2 d-flex flex-wrap gap-2">
        @for (item of clothesFilteredByName$(); track item.id) {
          <app-wardrobe-item [item]="item" (itemDeleted)="deleteItem($event)" (itemEdited)="openItemEditionModal($event)"></app-wardrobe-item>
        } @empty {
          Ваш гардероб на даний момент пустий.
        }
      </div>
    }
  </div>
} @else {
  <app-location-not-allowed></app-location-not-allowed>
}
