<!-- TODO: add loader -->

<div class="container mt-2">
  <app-weather-widget></app-weather-widget>

  <div class="d-flex gap-2 mt-2">
    <button mat-flat-button class="rounded" (click)="openItemCreationModal()">+</button>
    <input #searchInput class="form-control" type="search" placeholder="Пошук за назвою" (input)="searchValue$.set(searchInput.value)">
    <mat-slide-toggle
      color="primary"
      [checked]="recommendationMode$()"
      (change)="recommendationMode$.set($event.checked)">
      Рекомендований гардероб
    </mat-slide-toggle>
  </div>

  @if (recommendationMode$()) {
    <div class="d-flex">
      @for (category of recommendedClothesGroupedByType$() | keyvalue; track category.value[0]?.id; let last = $last; let first = $first) {
        <div class="my-2 px-2 d-flex gap-2 flex-column recommendations-catalogue" [class.border-end]="!last" [class.ps-0]="first">
          <h5 class="border-bottom pb-2">{{ clothTypeLabel[category.key] }}</h5>
          @for (item of category.value; track item.id) {
            <app-wardrobe-item [item]="item" [suppressActions]="true"></app-wardrobe-item>
          } @empty {
            <div class="wardrobe-item">
              Для заданої категорії не було знайдено рекомендацій
            </div>
          }
        </div>
      }
    </div>
  } @else {
    <div class="my-2 d-flex flex-wrap gap-2">
      @for (item of clothesFilteredByName$(); track item.id) {
        <app-wardrobe-item [item]="item" (itemDeleted)="deleteItem($event)" (itemEdited)="openItemEditionModal($event)"></app-wardrobe-item>
      } @empty {
        Ваш гардероб на даний момент пустий.
      }
    </div>
  }
</div>
