.wardrobe-item {
  width: 252.8px;
  overflow: hidden;

  &__image {
    width: 100%;
    object-fit: cover;
    height: 150px;
  }
}

.delete-icon-button {
  font-size: 14px;
  width: fit-content;
  color: white;
  background: rgb(236, 0, 0);
}

.edit-icon-button {
  font-size: 14px;
  width: fit-content;
  background: #005cbb;
  color: white;
}
