/* You can add global styles to this file, and also import other style files */

:root {
  --bg-secondary: #e0e0ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-control.ng-invalid.ng-dirty:not(:focus) {
  border: 2px solid red;
}
